body {
  color: red;
}

header h1 {
  display: inline-block;
  margin-bottom: 20px;
}

header img {
  max-width: 100px;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}

/* main section {
  border: 1px solid blue;
} */

.card-add {
  height: 23rem;
}

.card-deck, .card-active {
  height: 40rem;
}





.card-deck {
  overflow-y: scroll;
}

.example-deck {
  border: 1px red solid;
  width: 200px;
  display: block;
  margin: 20px auto;
  padding: 20px
}

.example-main {
  border: 1px green solid;
  width: 40%;
  padding: 90px;
  margin: 5% auto;
  display: block;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  /* background: transparent;  optional: just make scrollbar invisible */
}

.deck-text {
  position: fixed;
}




